body {
    align-content: center;

}
button {
    border-radius: 5px;
    box-shadow: 1px;
}

#start {
    background-color: green;
}

#stop {
    background-color: red;
}

#grid {
    display: grid;
    grid-gap: 1px;
    width: 800px;
    height: 800px;
    background-color: darkkhaki;
    border: 1px solid black;
}